Repository codeinthehole/food-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flake8, pytest

mypy:
  name: mypy
  language: system
  entry: mypy
  require_serial: true

flake8:
  name: flake8
  language: system
  entry: flake8

pytest:
  name: pytest
  language: system
  entry: pytest
  require_serial: true

Fix bug handling out-of-stock product
  chow/usecases/price_fetching.py
  tests/unit/chow/usecases/test_price_fetching.py
Due: mypy, flake8, pytest

Update price archive
  data/archive.json
  docs/timeline.md
Due: none

Update product charts
  docs/charts/product-240875011.png
  docs/charts/product-31833011.png
  docs/charts/product-44855011.png
  docs/charts/product-47305011.png
  docs/charts/product-520104011.png
  docs/charts/product-53687011.png
  docs/charts/product-59394011.png
  docs/charts/product-64862011.png
  docs/charts/product-65186011.png
  docs/charts/product-65448011.png
  docs/charts/product-78914011.png
  docs/charts/product-79530011.png
Due: none

Update product charts
  docs/charts/product-13175011.png
  docs/charts/product-225627011.png
  docs/charts/product-23476011.png
  docs/charts/product-240875011.png
  docs/charts/product-31833011.png
  docs/charts/product-32003011.png
  docs/charts/product-321394011.png
  docs/charts/product-44855011.png
  docs/charts/product-47305011.png
  docs/charts/product-506077011.png
  docs/charts/product-510737011.png
  docs/charts/product-514022011.png
  docs/charts/product-520104011.png
  docs/charts/product-53687011.png
  docs/charts/product-57293011.png
  docs/charts/product-59394011.png
  docs/charts/product-63741011.png
  docs/charts/product-64861011.png
  docs/charts/product-64862011.png
  docs/charts/product-65186011.png
  docs/charts/product-65448011.png
  docs/charts/product-78914011.png
  docs/charts/product-79530011.png
  docs/charts/product-91370011.png
  docs/charts/product-96798011.png
  docs/charts/product-98385011.png
Due: none

Improve main Github workflow name
  .github/workflows/run.yml
Due: none

Upgrade all packages to latest versions
  requirements.txt
Due: none

Upgrade `pip` and `pip-tools` to latest versions
  makefile
Due: none

Improve README
  README.md
Due: none

Improve logging when unable to fetch price for a product
  chow/usecases/price_fetching.py
Due: mypy, flake8

Change data structure used for product data
  chow/archive.py
  chow/usecases/__init__.py
  chow/usecases/price_fetching.py
  commit_msg.txt
  data/products.json
  main.py
  tests/functional/test_update_price_archive.py
  tests/unit/chow/usecases/test_price_fetching.py
  tests/unit/test_main.py
Due: mypy, flake8, pytest

Path conditions:
  mypy: any of: \.py$
  flake8: any of: .* and \.py$
  pytest: any of: test_.*\.py and \.py$
