Repository codeinthehole/food-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flake8, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      # See https://github.com/pre-commit/pre-commit-hooks/blob/main/.pre-commit-hooks.yaml for list of hooks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black

  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
      - id: isort
        additional_dependencies: [toml]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        types: [python]
        entry: mypy
        require_serial: true

      - id: flake8
        name: flake8
        language: system
        types: [python]
        entry: flake8
        files: .*

      - id: pytest
        name: pytest
        language: system
        types: [python]
        entry: pytest
        files: 'test_.*\.py'
        require_serial: true

Make images float
  chow/usecases/overview.py
  tests/functional/test_generate_overview.py
Due: mypy, flake8, pytest

Ignore Flake8's `W503` rule
  setup.cfg
Due: none

Update product charts
  charts/product-13175011.png
  charts/product-225627011.png
  charts/product-23476011.png
  charts/product-240875011.png
  charts/product-31833011.png
  charts/product-47305011.png
  charts/product-53687011.png
  charts/product-57293011.png
  charts/product-63741011.png
  charts/product-64861011.png
  charts/product-64862011.png
  charts/product-96798011.png
  overview.md
Due: none

Update product charts
  charts/product-13175011.png
  charts/product-225627011.png
  charts/product-23476011.png
  charts/product-240875011.png
  charts/product-31833011.png
  charts/product-47305011.png
  charts/product-53687011.png
  charts/product-57293011.png
  charts/product-63741011.png
  charts/product-64861011.png
  charts/product-64862011.png
  charts/product-96798011.png
Due: none

Update price archive
  prices.json
Due: none

Update product charts
  charts/product-13175011.png
  charts/product-225627011.png
  charts/product-23476011.png
  charts/product-240875011.png
  charts/product-31833011.png
  charts/product-47305011.png
  charts/product-53687011.png
  charts/product-57293011.png
  charts/product-63741011.png
  charts/product-64861011.png
  charts/product-64862011.png
  charts/product-78914011.png
  charts/product-96798011.png
  overview.md
Due: none

Update product charts
  charts/product-13175011.png
  charts/product-225627011.png
  charts/product-23476011.png
  charts/product-240875011.png
  charts/product-31833011.png
  charts/product-47305011.png
  charts/product-53687011.png
  charts/product-57293011.png
  charts/product-63741011.png
  charts/product-64861011.png
  charts/product-64862011.png
  charts/product-78914011.png
  charts/product-96798011.png
Due: none

Add initial version of `timeline.md`
  timeline.md
Due: none

Add usecase for building a timeline document
  .github/workflows/run.yml
  README.md
  chow/usecases/__init__.py
  chow/usecases/timeline.py
  main.py
  makefile
  tests/functional/test_generate_timeline.py
Due: mypy, flake8, pytest

Ignore convenience imports in `setup.cfg`
  chow/usecases/__init__.py
  setup.cfg
Due: mypy, flake8

Ensure charts are drawn even if only one price point
  chow/usecases/charts.py
Due: mypy, flake8

Skip external tests by default
  README.md
  makefile
  tests/integration/test_ocado_fetching.py
Due: mypy, flake8, pytest

Extract test factories into own module
  tests/factories.py
  tests/test_factories.py
  tests/unit/chow/usecases/test_charts.py
  tests/unit/chow/usecases/test_price_fetching.py
Due: mypy, flake8, pytest

Include delta percentage in timeline
  chow/usecases/timeline.py
  tests/functional/test_generate_timeline.py
  timeline.md
Due: mypy, flake8, pytest

Update product charts
  charts/product-13175011.png
  charts/product-225627011.png
  charts/product-23476011.png
  charts/product-240875011.png
  charts/product-31833011.png
  charts/product-32003011.png
  charts/product-321394011.png
  charts/product-44855011.png
  charts/product-47305011.png
  charts/product-506077011.png
  charts/product-510737011.png
  charts/product-514022011.png
  charts/product-520104011.png
  charts/product-53687011.png
  charts/product-57293011.png
  charts/product-59394011.png
  charts/product-63741011.png
  charts/product-64861011.png
  charts/product-64862011.png
  charts/product-65186011.png
  charts/product-65448011.png
  charts/product-78914011.png
  charts/product-79530011.png
  charts/product-91370011.png
  charts/product-96798011.png
  charts/product-98385011.png
  overview.md
Due: none

Use `type` args for Click CLI arguments
  chow/usecases/charts.py
  main.py
Due: mypy, flake8

Close matplotlib plots after generating graph
  chow/usecases/charts.py
Due: mypy, flake8

Update product charts
  charts/product-13175011.png
  charts/product-225627011.png
  charts/product-23476011.png
  charts/product-240875011.png
  charts/product-31833011.png
  charts/product-32003011.png
  charts/product-321394011.png
  charts/product-44855011.png
  charts/product-47305011.png
  charts/product-506077011.png
  charts/product-510737011.png
  charts/product-514022011.png
  charts/product-520104011.png
  charts/product-53687011.png
  charts/product-57293011.png
  charts/product-59394011.png
  charts/product-63741011.png
  charts/product-64861011.png
  charts/product-64862011.png
  charts/product-65186011.png
  charts/product-65448011.png
  charts/product-78914011.png
  charts/product-79530011.png
  charts/product-91370011.png
  charts/product-96798011.png
  charts/product-98385011.png
Due: none

wip
  chow/usecases/price_fetching.py
  main.py
  products.json
  tests/unit/test_main.py
Due: mypy, flake8, pytest

Enable strict mode for `mypy`
  chow/archive.py
  chow/usecases/__init__.py
  chow/usecases/charts.py
  chow/usecases/price_fetching.py
  main.py
  setup.cfg
  tests/conftest.py
  tests/integration/test_ocado_fetching.py
  tests/unit/chow/test_archive.py
  tests/unit/chow/usecases/test_price_fetching.py
Due: mypy, flake8, pytest

Document how to upgrade a package
  README.md
Due: none

Upgrade `mypy` to v0.991
  requirements.txt
Due: none

Use a better way of allowing patching in tests
  chow/usecases/price_fetching.py
  setup.cfg
Due: mypy, flake8
