Repository codeinthehole/food-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flake8, pytest

mypy:
  name: mypy
  language: system
  entry: mypy
  require_serial: true

flake8:
  name: flake8
  language: system
  entry: flake8

pytest:
  name: pytest
  language: system
  entry: pytest
  require_serial: true

Update price archive
  data/archive.json
  docs/timeline.md
Due: none

Update product charts
  docs/charts/product-13175011.png
  docs/charts/product-225627011.png
  docs/charts/product-23476011.png
  docs/charts/product-240875011.png
  docs/charts/product-31833011.png
  docs/charts/product-32003011.png
  docs/charts/product-321394011.png
  docs/charts/product-44855011.png
  docs/charts/product-47305011.png
  docs/charts/product-506077011.png
  docs/charts/product-510737011.png
  docs/charts/product-514022011.png
  docs/charts/product-520104011.png
  docs/charts/product-53687011.png
  docs/charts/product-57293011.png
  docs/charts/product-59394011.png
  docs/charts/product-63741011.png
  docs/charts/product-64861011.png
  docs/charts/product-64862011.png
  docs/charts/product-65186011.png
  docs/charts/product-65448011.png
  docs/charts/product-78914011.png
  docs/charts/product-79530011.png
  docs/charts/product-91370011.png
  docs/charts/product-96798011.png
  docs/charts/product-98385011.png
Due: none

Re-enable mypy strict mode
  setup.cfg
Due: none

Add more checks to pre-commit file
  .pre-commit-config.yaml
Due: none

Install flake8-bugbear
  requirements.in
  requirements.txt
  tests/unit/chow/test_archive.py
Due: mypy, flake8, pytest

Upgrade pre-commit hooks
  .pre-commit-config.yaml
Due: none

Run `pyupgrade --py310-plus` over codebase
  chow/archive.py
  chow/usecases/charts.py
  chow/usecases/price_fetching.py
  chow/usecases/timeline.py
  data/archive.json
  tests/conftest.py
Due: mypy, flake8

Add additional checks to pre-commit config
  .pre-commit-config.yaml
Due: none

Specify Python 3.10 in Github workflows
  .github/workflows/charts.yml
  .github/workflows/run.yml
  .github/workflows/test.yml
Due: none

Remove blanket `type: ignore` for factory boy
  setup.cfg
  tests/factories.py
Due: mypy, flake8

Enable `flake8-docstrings` plugin
  chow/logger.py
  chow/usecases/charts.py
  main.py
  requirements.in
  requirements.txt
  setup.cfg
Due: mypy, flake8

Path conditions:
  mypy: any of: \.py$
  flake8: any of: .* and \.py$
  pytest: any of: test_.*\.py and \.py$
