Repository codeinthehole/food-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flake8, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      # See https://github.com/pre-commit/pre-commit-hooks/blob/main/.pre-commit-hooks.yaml for list of hooks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black

  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
      - id: isort
        additional_dependencies: [toml]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        types: [python]
        entry: mypy
        require_serial: true

      - id: flake8
        name: flake8
        language: system
        types: [python]
        entry: flake8
        files: .*

      - id: pytest
        name: pytest
        language: system
        types: [python]
        entry: pytest
        files: 'test_.*\.py'
        require_serial: true

Ensure product name is saved in archive file
  main.py
Due: mypy, flake8

Update external tests for Bagels
  test_scraping.py
Due: mypy, flake8, pytest

Print a summary when there are changes
  main.py
  requirements.in
  requirements.txt
  setup.cfg
  test_scraping.py
Due: mypy, flake8, pytest

Add Github workflow to update prices
  .github/workflows/run.yml
Due: none

Update price archive
  prices.json
Due: none

Enable strict mode for mypy
  setup.cfg
Due: none

Don't run main workflow on every push
  .github/workflows/run.yml
Due: none

Run tests and static analysis in GH action
  .github/workflows/test.yml
Due: none

Improve structure of test suite
  README.md
  makefile
  tests/__init__.py
  tests/fixtures/ocado_product.html
  tests/integration/__init__.py
  tests/integration/test_ocado_fetching.py
  tests/unit/__init__.py
  tests/unit/test_main.py
Due: mypy, flake8, pytest

Cache Python packages in GH workflow
  .github/workflows/test.yml
Due: none

Add caching to `run.yaml` workflow
  .github/workflows/run.yml
  .github/workflows/test.yml
Due: none

wip
  main.py
  prices.json
Due: mypy, flake8

Add new products from Ocado favourites
  main.py
Due: mypy, flake8

Add more products to track
  main.py
Due: mypy, flake8

Include pound sign in price update commit message
  main.py
  tests/unit/test_main.py
Due: mypy, flake8, pytest

Improve description of project in README
  README.md
Due: none

Add a `ProductMap` type in main module
  main.py
Due: mypy, flake8

Introduce types for archive structure
  main.py
Due: mypy, flake8

Move archive functionality into own module
  chow/__init__.py
  chow/archive.py
  main.py
Due: mypy, flake8

Use Click to orchestrate commands
  .github/workflows/run.yml
  README.md
  main.py
  requirements.in
  requirements.txt
Due: mypy, flake8
