Repository codeinthehole/food-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flake8, pytest

mypy:
  name: mypy
  language: system
  entry: mypy
  require_serial: true

flake8:
  name: flake8
  language: system
  entry: flake8

pytest:
  name: pytest
  language: system
  entry: pytest
  require_serial: true

Use a thread pool to fetch prices
  chow/usecases/price_fetching.py
Due: mypy, flake8

Update price archive
  prices.json
Due: none

Document how to add packages in README
  README.md
Due: none

Show short tracebacks in test failures
  pytest.ini
Due: none

Add scheduled job to generate product charts
  .github/workflows/charts.yml
  README.md
  charts/.gitignore
  chow/usecases/__init__.py
  chow/usecases/charts.py
  main.py
  makefile
  requirements.in
  requirements.txt
  setup.cfg
  tests/functional/test_generate_graphs.py
  tests/unit/chow/usecases/test_charts.py
Due: mypy, flake8, pytest

Update product charts
  charts/product-13175011.png
  charts/product-225627011.png
  charts/product-23476011.png
  charts/product-240875011.png
  charts/product-31833011.png
  charts/product-47305011.png
  charts/product-53687011.png
  charts/product-57293011.png
  charts/product-63741011.png
  charts/product-64861011.png
  charts/product-64862011.png
  charts/product-96798011.png
Due: none

Improve README intro paragraph
  README.md
Due: none

Extract a `fixture_filepath` fixture
  tests/conftest.py
Due: mypy, flake8

Add use case for building a product overview doc
  chow/usecases/__init__.py
  chow/usecases/overview.py
  main.py
  tests/fixtures/product.png
  tests/functional/test_generate_overview.py
Due: mypy, flake8, pytest

Update overview doc in CI
  .github/workflows/charts.yml
  README.md
Due: none

Update product charts
  charts/product-13175011.png
  charts/product-225627011.png
  charts/product-23476011.png
  charts/product-240875011.png
  charts/product-31833011.png
  charts/product-47305011.png
  charts/product-53687011.png
  charts/product-57293011.png
  charts/product-63741011.png
  charts/product-64861011.png
  charts/product-64862011.png
  charts/product-96798011.png
  overview.md
Due: none

Use JSON-Schema to validate products input file
  main.py
  requirements.in
  requirements.txt
  tests/unit/test_main.py
Due: mypy, flake8, pytest

Use JSON-Schema to validate archive file format
  chow/archive.py
  tests/unit/chow/test_archive.py
Due: mypy, flake8, pytest

Remove unused archive function
  chow/archive.py
Due: mypy, flake8

Make sections of README collapsible
  README.md
Due: none

Install a pinned version of `pip` in `makefile`
  makefile
Due: none

Flesh out missing parts of README
  README.md
  makefile
Due: none

Make images float
  chow/usecases/overview.py
Due: mypy, flake8

Note how large the generated images are
  chow/usecases/charts.py
Due: mypy, flake8

Add sample float file
  sample.md
Due: none

Make images float
  chow/usecases/overview.py
  tests/functional/test_generate_overview.py
Due: mypy, flake8, pytest

Ignore Flake8's `W503` rule
  setup.cfg
Due: none

Path conditions:
  mypy: any of: \.py$
  flake8: any of: .* and \.py$
  pytest: any of: test_.*\.py and \.py$
