Repository codeinthehole/food-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flake8, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      # See https://github.com/pre-commit/pre-commit-hooks/blob/main/.pre-commit-hooks.yaml for list of hooks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black

  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
      - id: isort
        additional_dependencies: [toml]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        types: [python]
        entry: mypy
        require_serial: true

      - id: flake8
        name: flake8
        language: system
        types: [python]
        entry: flake8
        files: .*

      - id: pytest
        name: pytest
        language: system
        types: [python]
        entry: pytest
        files: 'test_.*\.py'
        require_serial: true

Extract usecase into its own module
  chow/usecases/__init__.py
  chow/usecases/price_fetching.py
  main.py
  tests/integration/test_ocado_fetching.py
  tests/unit/chow/__init__.py
  tests/unit/chow/usecases/__init__.py
  tests/unit/chow/usecases/test_price_fetching.py
Due: mypy, flake8, pytest

Use Black profile for isort
  setup.cfg
Due: none

Run unit tests as part of `make check`
  makefile
Due: none

Move archive functionality into own module
  chow/__init__.py
  chow/archive.py
  main.py
Due: mypy, flake8

Use Click to orchestrate commands
  .github/workflows/run.yml
  README.md
  main.py
  requirements.in
  requirements.txt
Due: mypy, flake8

Use a file arg to define products to fetch
  .github/workflows/run.yml
  README.md
  main.py
  products.json
Due: mypy, flake8

Use a click arg for the archive filepath
  .github/workflows/run.yml
  README.md
  chow/archive.py
  chow/usecases/price_fetching.py
  main.py
Due: mypy, flake8

Update price archive
  prices.json
Due: none

Install and enable `pytest-socket`
  pytest.ini
  requirements.in
  requirements.txt
Due: none

Install `responses`
  requirements.in
  requirements.txt
Due: none

Install `time-machine`
  requirements.in
  requirements.txt
Due: none

Add functional test for updating price archive
  chow/archive.py
  tests/functional/__init__.py
  tests/functional/conftest.py
  tests/functional/test_update_price_archive.py
Due: mypy, flake8, pytest

Run functional tests in CI
  .github/workflows/test.yml
  README.md
  makefile
Due: none

Add links to files in README
  README.md
Due: none

Use a Pytest fixture to load fixture file content
  tests/conftest.py
  tests/functional/test_update_price_archive.py
  tests/unit/chow/usecases/test_price_fetching.py
Due: mypy, flake8, pytest

Add basic logging of price fetching activity
  chow/logger.py
  chow/usecases/price_fetching.py
  main.py
Due: mypy, flake8

Add more products to `products.json`
  products.json
Due: none

Add a `run` make target for smoke testing
  README.md
  makefile
Due: none

Correct target name in makefile
  makefile
Due: none

Move log call into price fetching function
  chow/usecases/price_fetching.py
  tests/integration/test_ocado_fetching.py
  tests/unit/chow/usecases/test_price_fetching.py
Due: mypy, flake8, pytest

Use a thread pool to fetch prices
  chow/usecases/price_fetching.py
Due: mypy, flake8
